.wrapper{
    width: 100%;

}

.wrapper .select-btn{
    width: 100%;
    height: 35px;
    min-height: 1.2em;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding:0 10px;
    justify-content: space-between;
    background-color: #fff;
}

.wrapper .content{
    display: none;
    margin-top: 15px;
    padding: 20px;
    background-color: #fff;
}
.wrapper.active .content{
    display: block;
    margin-top: 15px;
    padding: 20px;
    background-color: #fff;
}


.content .search{
    width: 100%;
}

.content .search .search-icon{
    position: relative;

}

.search >input{
    width: 100%;
    font-size: 17px;
    outline: none;
    border: 1px solid #b3b3b3;
    position: relative;

}


.search .magnify-icon {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0px 10px;
    position: absolute;
}

.content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
}

.options li{
    height: 50px;
    border-radius: 5px;
    list-style-type: none;
}

.options li:hover{
    cursor: pointer;
    background-color: #f1e9e9;
}

.options.active{
    display: none;
}