@import url('https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Bebas+Neue&family=Black+Ops+One&family=Bungee&family=Crimson+Pro:wght@900&family=Lilita+One&family=Press+Start+2P&family=Rajdhani&family=Roboto&family=Slabo+27px&display=swap');


header ul{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}
header ul.active{
    display: grid;
    background-color: red;
    display: none;
}

header ul li {
    font-family: 'Anton';
    font-size: 1.5rem;
    color: #faebd7;
    list-style-type: none;
    position: relative;
    
}


header ul li:hover {
    cursor: pointer;
    
}

header > ul> li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -2px;
   
    background-color:#daa520;
  
}


header > ul> li::after{
    transform: scale(0, 1);
    transform-origin:0% 100% ;
    transition: transform 0.5s ease;
}

header > ul> li:hover::after{
    transform: scale(1, 1);

}
header .icon-box{
    width: 100%;
    display: none;
}

@media only screen and (max-width: 600px) {


    header ul{
        width: 100%;
        display: grid;
        grid-auto-flow: row;
      
      
    }

    header .icon-box{
        width: 100%;
        display: block;
    }
    header .icon{
        font-size: 3rem;
        color:  #faebd7;

    }
  }